*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root
{
  --text-white: #fff;
  --bg-url: url(assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, .5);
  --surface-color: rgba(255, 255, 255, .1);
  --surface-color-hover: rgba(255, 255, 255, .05);
  --highlight-color: rgba(255, 255, 255, .2);
  --switch-btn-svg: url(./assets/moon-stars.svg);
}

body * 
{
  font-family: 'Inter', sans-serif;
  color: var(--text-white);
}

body 
{
  /*
  background: url("assets/bg-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  */

  /* Using just one line */
  background: var(--bg-url) no-repeat top center/cover;
}

.light 
{
  --text-white: #000;
  --bg-url: url('assets/bg-mobile-light.jpg');
  --stroke-color: rgba(0, 0, 0, .5);
  --surface-color: rgba(0, 0, 0, .05);
  --surface-color-hover: rgba(0, 0, 0, .02);
  --highlight-color: rgba(0, 0, 0, .1);
  --switch-btn-svg: url('./assets/sun.svg');
}

#container 
{
  width: 100%;
  max-width: 588px;
  padding: 0 24px;
  margin: 56px auto 0px;
}

#profile
{
  text-align: center;
  padding: 24px;
}

#profile img
{
  width: 112px;
  margin: auto;
}

#profile p
{
  margin-top: 8px;
  font-weight: 500;
  line-height: 24px;
}

/* Switch, dark and light mode */
#switch 
{
  width: 64px;
  margin: 4px auto;
  position: relative;
}

#switch button
{
  width: 32px;
  height: 32px;
  background: #fff var(--switch-btn-svg) no-repeat center;
  border: 0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
}

#switch span
{
  display: block;
  width: 64px;
  height: 24px;
  background-color: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

.light #switch button
{
  right: 0;
  left: initial;
}

/* Links */
ul
{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

ul li a
{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  background-color: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;
  transition: background .2s;
}

/* Pseudo selector */
ul li a:hover
{
  background-color: var(--surface-color-hover);
  border: 1.5px solid var(--text-white);
}

/* Social links icons */
#social-links
{
  padding: 24px 0;
  display: flex;
  justify-content: center;
  /*gap: 16px;*/
  font-size: 24px;
}

#social-links a
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-radius: 50%;
  transition: background .2s;
}

#social-links a:hover
{
  background-color: var(--highlight-color);
}

/* Footer */
footer
{
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}

/* Media queries */
@media (min-width: 700px)
{
  :root
  {
    --bg-url: url(./assets/bg-desktop.jpg);
  }

  .light
  {
    --bg-url: url(./assets/bg-desktop-light.jpg)
  }
}